html {
  box-sizing: border-box;
  font-size: 25px;
  /* Increased base font size by ~5px */
}

body {
  margin: 0;
  font-family: "Sacramento", cursive;
  color: #fff;
  /* White text for contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /* Text shadow for readability */
  /* Gradient Text Effect */
  background: linear-gradient(to bottom, #ffffff 0%, #ffcddd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Drop shadow for visibility against complex background */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));

  background-image: url("../img/bg.png");
  /* Keep background on body, but text clip might conflict if set on body directly. */
  /* Re-thinking: Clip on body removes background image. Must apply to elements. */
  background: url("../img/bg.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  /* Fallback */
}

/* Apply gradient to specific text elements instead of body to avoid losing background */
h1,
h2,
h3,
h4,
h5,
p,
span {
  /* Subtle gradient for all text */
  background: linear-gradient(to bottom, #ffffff 30%, #ff9a9e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.heart {
  position: absolute;
  bottom: -10vh;
  width: 30px;
  height: 30px;
  background: url("../img/heart.svg") no-repeat center center;
  background-size: contain;
  opacity: 0.8;
  animation: floatUp linear forwards;
  z-index: 0;
}

@keyframes floatUp {
  to {
    transform: translateY(-120vh) rotate(360deg);
    opacity: 0;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
  z-index: 10;
  /* Ensure text is above hearts */
}

/* Pink Heart Object */
.pink-heart {
  position: absolute;
  width: 130px;
  /* Increased size (4*4*4 feel) */
  height: 130px;
  background: url("../img/heartt.png") no-repeat center center;
  background-size: contain;
  z-index: 1;
  /* Above background, below text */
}

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container>div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.one>img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

.six {
  position: relative;
}

.six img {
  width: 10cm;
  height: 10cm;
  object-fit: cover;

  clip-path: path("M50 90 
 C20 60, 0 40, 25 20 C40 5, 50 20, 50 20 C50 20, 60 5, 75 20 C100 40, 80 60, 50 90 Z"
);
}




.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 41.5%;
  /* transform: scale(0.1); */
}

.baloons img {
  display: inline-block;
  position: absolute;
  width: 200px;
}

.baloons img:nth-child(even) {
  left: 10%;
}

.baloons img:nth-child(odd) {
  right: 10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.eight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.eight svg:nth-child(1) {
  top: 7vh;
  left: 5vw;
  fill: #bd6ecf;
}

.eight svg:nth-child(2) {
  top: 23vh;
  left: 35vw;
  fill: #7dd175;
}

.eight svg:nth-child(3) {
  top: 33vh;
  left: 23vw;
  fill: #349d8b;
}

.eight svg:nth-child(4) {
  top: 43vh;
  left: 57vw;
  fill: #347a9d;
}

.eight svg:nth-child(5) {
  top: 68vh;
  left: 7vw;
  fill: #c66053;
}

.eight svg:nth-child(6) {
  top: 42vh;
  left: 77vw;
  fill: #bfaa40;
}

.eight svg:nth-child(7) {
  top: 68vh;
  left: 83vw;
  fill: #e3bae8;
}

.eight svg:nth-child(8) {
  top: 86vh;
  left: 37vw;
  fill: #8762cb;
}

.eight svg:nth-child(9) {
  top: 94vh;
  left: 87vw;
  fill: #9a90da;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  /* text-transform: uppercase; */
}

.wish h5 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin: 10px 0 0;
  max-width: 90vw;
  word-wrap: break-word;
  padding: 0 10px;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* Music Control */
.music-control {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.music-icon {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid #fff;
  animation: pulse 2s infinite;
  color: #ff3366;
  box-shadow: 0 4px 15px rgba(255, 51, 102, 0.4);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}



/* 5 Shades of Pink */
.shade-1 {
  filter: brightness(1.9) hue-rotate(-10deg);
}

.shade-2 {
  filter: brightness(1.2);
}

.shade-3 {
  filter: brightness(1.5);
}

/* Original */
.shade-4 {
  filter: brightness(0.) hue-rotate(10deg);
}

.shade-5 {
  filter: brightness(0.8) hue-rotate(20deg);
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.3em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
